public class Challenge2 {
	static void connectToServer() throws ArithmeticException
	{
		throw new ArithmeticException("Error Occured when connecting to server!");
	}
	public static void main(String[] args) {
		try {
			try {
				int x=5/0;
			} catch (ArithmeticException e) {
				System.out.println(e);
			}
			connectToServer();
		} catch (Exception e) {
			System.out.println(e);
		}
	}

}
